<!-- <app-signin></app-signin> -->
<!-- <app-book></app-book> -->
<!-- <app-register></app-register> -->
<!-- <app-author></app-author> -->
<!-- <app-addauthor></app-addauthor> -->
 <!-- <header>
    <div class="head">
     <a  routerLink="/table" routerLinkActive="btnColor" class="btnColor" >Book Table</a>
    <a routerLink="/add" routerLinkActive="btnColor" class="btnColor">Authors</a>
    </div>
</header>  -->

    <div class="headPart">
        <a routerLink="/login">Login</a>
        <!-- <a routerLink="/main">Main Page</a>
        <a routerLink="/tableemp">Table</a>
        <a routerLink="/add">Add</a>
        <a routerLink="/comment">Comment</a> -->
    </div>

 <router-outlet></router-outlet>
 <!-- <app-table></app-table> -->
<!-- <app-addinfo></app-addinfo> -->
<!-- <app-comment></app-comment> -->
<!-- <app-tablecomment></app-tablecomment> -->
<!-- <app-login></app-login> -->

